*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    padding-top: 1.2em;
    height: 92px;
    background-color: white;
    align-content: center;
    position: fixed;
}

.nav-top{
    display: flex;
}

.nav-input{
    width: 398.5px;
    height: 55px;
    border: 0px;
    background-color: rgb(248, 248, 248);
    border-radius: 2em;
    padding: 1.8em;
    font-size: 13.5px;
}

.nav-input-body{
    width: 480px;
    height: 55px;
    border-radius: 2em;
    background-color: rgb(248, 248, 248)
}

.nav-end{
    display: flex;
    margin: 0px 1em 0px 0.5em;
}

.nav-img{
    width: 88.9px;
    margin: 0.4em 30px 10px 2.5em;

}

.cade{
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin: 1em 6px 0px 0px;
}

.me{
    text-decoration: none;
    color: black;
    margin-left: 0.5em;
}

.input-shots{ 
    font-weight: 600;
    font-size: 13.5px;
    margin-top: -2.65em;
    margin-left: 26em;
    cursor: pointer;
}

.input-icon{
    margin-left: 2em;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: rgba(250, 15, 133, 0.733);
    border-radius: 20px;
}

.waa{
    display: flex;
}
.aaw{
    margin-top: -3em;
}

.nav-select{
    border: none;
    margin-left: 1.8em;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    width: 6.8em;
}


.nav-login{
    width: 6em;
    height: 3em;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    margin: 0.3em 0px 0px 0.5em;
    padding: 0.9em 0px 0px 1.3em;
    border-radius: 40px;
}

.nav-login1{
    color: white;
    text-decoration: none;
}

.dribble-section{
    padding: 64px 120px 64px 120px;
    margin: 0px 14px 0px 14px;
}

.dribble-webform{
    padding-top: 5.5em;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 2em;
}

.first-container{
    display: flex;
    align-items: center;
    margin-right: 38em;
}

.first-container1{
    display: flex;
    align-items: center;
}

.img-profile{
    width: 50px;
    border-radius: 5em;
    margin-right: 1em;
    cursor: pointer;
}

.p-profile{
    font-weight: 600;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.3em;
    cursor: pointer;
}

.p-profile p:hover{
    text-decoration: underline;
    color: aqua;
}

.p-profile1{
    font-weight: 500;
    font-size: 13.5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 0.3em;
    color: rgb(184, 184, 184);
    cursor: pointer;
}

.like-profile{
    width: 37px;
    height: 37px;
    border: solid 1px rgb(184, 184, 184);
    background-color: rgb(255, 255, 255);
    border-radius: 3em;
    padding: 9.5px;
    cursor: pointer;
    margin-right: .8em;
}

.button-dribble2{
    background-color: black;
    height: 3em;
    width: 8.5em;
    color: white;
    border: solid 1px;
    border-radius: 3em;
    cursor: pointer;
}

.main-container-dribble1{
    display: flex;
    position: fixed;
    background-color: white;
}
